<div>
    <form ng-submit="addOpp()" class="createOpp">
    <div class="formInput">
		<input placeholder="Account UserID" ng-model="newOpp.userid">
        <br>
        <input placeholder="Contract" ng-model="newOpp.contract">
        <br>
        <input placeholder="P1, P2 or P3" ng-model="newOpp.priority">
        <br>
        <button type="submit">Submit</button>
    </div>
    </form>
    <div class="oppContainer">
        <md-content>
            <md-list>
                <md-item  ng-repeat="item in oppsArray | orderBy: ['priority', '-interactionScore']">
                    <md-item-content>
                        <div class="md-tile-content">
                            <h3>{{item.userid}}</h3>
            				<h3>{{item.contract}}</h3>
            				<h3>{{item.priority}}</h3>
            				<button ng-click="removeOpp(item)">Remove</button><br>
    						<button ng-click="plus(item)">+</button>
    						{{item.interactionScore}}
    						<button ng-click="minus(item)">-</button>
        		 		 </div>
       			 	</md-item-content>
       			 <md-divider ng-if="!$last"></md-divider>
      			</md-item>
   			 </md-list>
  		</md-content>
    </div>
</div>
